html {
  background-color: #111;
  color: #f3f3f3;
  font-family: 'Cardo', 'serif';
  line-height: 1.618;
  min-height: 100vh;
  overflow-y: scroll;
}

.sans {
  font-family: "Montserrat";
}

.serif {
  font-family: "playfair display";
}

.vh-min75 {
  min-height: 75vh;
}

.vh-min100 {
  min-height: 100vh;
}
